[defaults]
inventory = inventory
collections_paths = collections
remote_user = ec2-user
stdout_callback = debug

[privilege_escalation]
become = true
become_user = root
become_method = sudo 

[galaxy]
server_list = redhat_hub

[galaxy_server.redhat_hub]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token='eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJhZDUyMjdhMy1iY2ZkLTRjZjAtYTdiNi0zOTk4MzVhMDg1NjYifQ.eyJpYXQiOjE3MDEyMDcwODMsImp0aSI6ImJhOGE1YzEzLWYzMjQtNDdhOC04MzJmLTg2NTM5NGViZGJiYyIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpiYmVuZXNoQHJlZGhhdC5jb20iLCJ0eXAiOiJPZmZsaW5lIiwiYXpwIjoiY2xvdWQtc2VydmljZXMiLCJub25jZSI6Ijk4Y2FkYTgzLTE1OWMtNGNhMC04MWFhLTM3MjQwNzcwOTI2ZSIsInNlc3Npb25fc3RhdGUiOiJjZTMwZTMyYi05YjFjLTRiMjItYjhiOC1mYzFlYmU2NGM4Y2QiLCJzY29wZSI6Im9wZW5pZCBhcGkuaWFtLnNlcnZpY2VfYWNjb3VudHMgb2ZmbGluZV9hY2Nlc3MiLCJzaWQiOiJjZTMwZTMyYi05YjFjLTRiMjItYjhiOC1mYzFlYmU2NGM4Y2QifQ.H786xb5o2n49KwQ2gY0L_1QGZE3Hmlp7nWf5D210j-E'
